html, body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    align-self: center;
    display: flex;
    gap: 0px;
    height: 800px;
    width: 800px;
    align-items: stretch;
    flex-wrap: wrap;
    border: solid 1px #000000;
}

.child-div {
    background-color: #979797;
}

.onhover {
    background-color: black;
}